@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollable.css */
.scrollbar-overlay {
  overflow: overlay;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* scrollbar color */
  border-radius: 10px; /* scrollbar round */
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #ddddf7; /* same as father bg color */
  position: fixed;
  z-index: 999;
}

/* .scrollbar-hidden::-webkit-scrollbar {
  display: none; 
}*/

.scrollbar-hidden::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background-color: #ddddf7;
}
